name: Deploy React to GitHub Pages

on:
  push:
    branches: ["main"]

permissions:
  contents: write

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20

      # Use --prefix to tell npm specifically where to run install
      - name: Install dependencies
        run: npm install --prefix ./Aura-Clinic

      # Use --prefix to tell npm specifically where to run the build script
      - name: Build the project
        run: npm run build --prefix ./Aura-Clinic

      - name: Deploy to GitHub Pages
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          # The build folder is created inside the Aura-Clinic folder
          folder: Aura-Clinic/build
          branch: gh-pages
